<% include header %>
<div class="container mt-3">
    <form action="/inscription" method="post">
        <div class="row">

            <div class="col-12">
                <div class="form-group">
                    <label for="inputEmail">Email</label>
                    <input type="email" class="form-control" name="inputEmail" id="inputEmail" placeholder="Ex : antony.fourchault@gmail.com">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputLastName">Nom</label>
                        <input type="text" class="form-control" name="inputLastName" id="inputLastName" placeholder="Votre nom de famille">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputFirstName">Prénom</label>
                        <input type="text" class="form-control" name="inputFirstName" id="inputFirstName" placeholder="Votre prénom">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputPseudo">Pseudonyme</label>
                        <input type="text" class="form-control" name="inputPseudo" id="inputPseudo" placeholder="Votre pseudo courant">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputPassword">Mot de passe</label>
                        <input type="password" class="form-control" name="inputPassword" id="inputPassword" placeholder="Ex : foIOJ48&34£µ2Dr">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputConfirmPassword">Confirmer votre mot de passe</label>
                        <input type="password" class="form-control" name="inputConfirmPassword" id="inputConfirmPassword" placeholder="Retaper votre mot de passe">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputPhone">Téléphone</label>
                        <input type="text" class="form-control" name="inputPhone" placeholder="Ex : 0650471726">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputVille">Ville</label>
                        <input type="text" class="form-control" name="inputVille" placeholder="Ville où vous habité">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputBlog">Blog</label>
                        <input type="text" class="form-control" name="inputBlog" placeholder="Lien vers votre blog / LinkedIn / GitHub">
                    </div>
                </div>
                <div class="form-row">
                    <div class="input-group mb-3 col-md-4">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputSexe">Sexe</label>
                        </div>
                        <select class="custom-select" name="inputSexe">
                            <option value="0">Femme</option>
                            <option value="1" selected>Homme</option>
                        </select>
                    </div>
                    <div class="input-group mb-3 col-md-4">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputDiplome">Diplome</label>
                        </div>
                        <select class="custom-select" name="inputDiplome">
                            <option value="aucun" selected>Aucun</option>
                            <option value="bac">Bac</option>
                            <option value="bts">Bts</option>
                            <option value="dut">dut</option>
                            <option value="licence">Licence</option>
                            <option value="master">Master</option>
                            <option value="doctorat">Doctorat</option>

                        </select>
                    </div>
                    <div class="input-group mb-3 col-md-4">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputSituation">Situation</label>
                        </div>
                        <select class="custom-select" name="inputSituation">
                            <option value="sans activité" selected>Sans activité</option>
                            <option value="chomage" >Chomage</option>
                            <option value="employé/ouvrier" >Employé ou Ouvrier</option>
                            <option value="commercant" >Commercant</option>
                            <option value="cadre" >Cadre</option>
                            <option value="professeur" >Professeur</option>
                            <option value="chef d'entreprise" >Chef d'entreprise</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-group mb-3 col-6">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Description de vous</span>
                        </div>
                        <textarea class="form-control" aria-label="Description de vous" name="inputDescription"></textarea>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPseudo">Date de naissance</label>
                        <input type="date" class="form-control" name="inputBirth" id="inputBirth" value="2005-01-01">
                    </div>
                </div>

                <label for="inputPassion">Passion </label>
                <div class="form-row">
                    <% for (var i = 0; i < passions.length;i++) { %>
                        <% if (i==0)  { %>
                            <div class="col-3">
                                <ul class="list-group ">
                                    <li class="list-group-item">
                                        <input type="checkbox" style="width: 20px; height: 20px;" name="inputPassion" value="<%= passions[i].id %>"><%= passions[i].name %>
                                    </li>
                        <% }else if (i%10==0) { %>
                                </ul>
                            </div>
                    <div class="col-3">
                        <ul class="list-group ">
                            <li class="list-group-item">
                                <input type="checkbox" style="width: 20px; height: 20px;" name="inputPassion" value="<%= passions[i].id %>"><%= passions[i].name %>
                            </li>
                        <% }else { %>
                                <li class="list-group-item">
                                    <input type="checkbox" style="width: 20px; height: 20px;" name="inputPassion" value="<%= passions[i].id %>"><%= passions[i].name %>
                                </li>
                        <%}%>
                    <%}%>
                        </ul>
                    </div>
                </div>
                <button type="submit" id="send" class="btn btn-primary btn-lg">S'inscrire</button>
            </div>
        </div>
    </form>
</div>

<% include footer %>